:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-gray-cyan: hsl(186, 14%, 43%);
  --gray-cyan: hsl(184, 14%, 56%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --lighter-gray-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Space Mono', monospace;
  --input-font-size: 24px;
}

body {
  font-family: var(--primary-font);
  font-weight: 700;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: var(--light-gray-cyan);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

header {
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;
}

main {
  width: 375px;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section {
  padding: 1rem 2rem 1rem 2rem;
}

section:last-of-type {
  margin: 1rem 1.5rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--dark-cyan);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

section h2 {
  font-size: 1rem;
  color: var(--dark-gray-cyan);
  margin-bottom: 0.375rem;
}

section h3 {
  font-size: 1rem;
  color: var(--white);
}

section h3 + p {
  font-size: 0.8125rem;
  color: var(--gray-cyan);
}

section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > div > p {
  font-size: 2rem;
  color: var(--primary-cyan);
}

button {
  margin-top: 0.75rem;
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: var(--dark-cyan);
  background-color: var(--primary-cyan);
  padding: 0.625rem 0;
}

section > h2 + input {
  width: 100%;
  padding: 0.375rem 1.25rem;
  border: 0;
  background-color: var(--lighter-gray-cyan);
  color: var(--dark-cyan);
  font-size: 1.5rem;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-fields label {
  display: flex;
}

.input-fields input {
  cursor: pointer;
  background-color: var(--dark-cyan);
  border-radius: 0.25rem;
  width: 147px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}

.input-fields input[type='radio']::before {
  content: attr(data-number);
}

.input-fields input[type='radio']::after {
  content: '%';
}

.input-fields input[type='radio']::before,
.input-fields input[type='radio']::after {
  vertical-align: sub;
}

.input-fields input[type='text'] {
  border: 0;
  background-color: var(--lighter-gray-cyan);
  color: var(--gray-cyan);
}

.fm-byline-row {
  margin-top: 2rem;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 45%, 44%);
}
